@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --primary: #0f1923;

  --shadow-color: #ffffff;
  --shadow-blur: 20px;
  --shadow-spread: -5px;
  --tint-color: 255, 255, 255;
  --tint-opacity: 0;
  --frost-blur: 12px;
}

::-webkit-scrollbar{
  display: none;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.bg-primary {
  background-color: var(--primary);
}

body {
  background: var(--primary);
  font-family: "Geist", "Geist Fallback" !important;
}

.featured-item-1 { grid-area: featured-item-1;}
.featured-item-2 { grid-area: featured-item-2;}
.featured-item-3 { grid-area: featured-item-3;}

.featured-content{
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 0px;
  grid-template-areas: 
  "featured-item-1 featured-item-2"
    "featured-item-1 featured-item-3"
  ;
}

#glass {
  display: none;
}


.glass-card {
  position: relative;
  border-radius: 24px;
  isolation: isolate;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.3),
    0 2px 8px rgba(0, 0, 0, 0.2);
  /* backdrop-filter: blur(20px) saturate(180%); */
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
  
  backdrop-filter: brightness(1.1) 
        blur(2px)
        url(#displacementFilter);
  filter: drop-shadow(-8px -10px 46px #0000005f);
}

.glass-card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  border-radius: 24px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  /* box-shadow: inset 0 1px 1px rgba(252, 252, 252, 0.2); */
  /* box-shadow: inset 0 0 10px -5px rgba(248, 248, 248, 0.945), inset 0 1px 1px rgba(250, 250, 250, 0.37); */
  box-shadow: inset 0 0 4px 5px rgba(83, 83, 83, 0.295), inset 0 1px 1px rgba(255, 255, 255, 0.534);

  /* box-shadow: inset 6px 6px 0px -6px rgba(255, 255, 255, 0.7), 
                inset 0 0 8px 1px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7), 
                        inset 0 0 3px 1px rgba(255, 255, 255, 0.7); */
}

.glass-card::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cfilter id='n'%3E%3CfeTurbulence baseFrequency='0.9' numOctaves='2' seed='2'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.06'/%3E%3C/svg%3E");
  mix-blend-mode: overlay;
  opacity: 0.2;
  pointer-events: none;
  /* background-color: #000000c0; */
}

.glass-card > div {
  position: relative;
  z-index: 2;
}

#glass-distortion-defs {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
}

@media (max-width: 768px) {
  .featured-content{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 200px);
    /* gap: 12px; */
    grid-template-areas: 
      "featured-item-1"
      "featured-item-2"
      "featured-item-3"
    ;
  }
}
