@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
::-webkit-scrollbar{
  display: none;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #f7f7f7;
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.featured-item-1 { grid-area: featured-item-1;}
.featured-item-2 { grid-area: featured-item-2;}
.featured-item-3 { grid-area: featured-item-3;}

.featured-content{
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 12px;
  grid-template-areas: 
  "featured-item-1 featured-item-2"
    "featured-item-1 featured-item-3"
  ;
}

@media (max-width: 768px) {
  .featured-content{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 12px;
    grid-template-areas: 
      "featured-item-1"
      "featured-item-2"
      "featured-item-3"
    ;
  }
}